@import "./../../assets/mixins/common";

.orders-main-container {
  padding: 10px;
  .urlNav {
    @include urlNav;
    @include w425 {
      margin: 10px;
      font-size: 0.8em;
    }
  }
  .title {
    @include pageTitle;
    @include w425 {
      margin: 10px;
      font-size: 1.2em;
    }
  }
}
.btn {
  @include button;
  border-radius: 50px;
  margin: 20px auto;
  background: orangered;
}
.e-grid {
  background: gray;
}
