@import "./responsive";

@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterRow {
  display: flex;
  align-items: center;
}

@mixin lrPartition {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexCenterCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin button {
  width: 200px;
  background-color: #009ffd;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover {
    transform: scale(1.05);
    opacity: 0.9;
    transition: 0.2s;
    cursor: pointer;
  }
}

@mixin pageTitle {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
}

@mixin urlNav {
  color: red;
  margin: 20px;
  font-size: 1.2rem;
  a {
    text-decoration: none;
  }
  a:hover {
    color: gray;
  }
  @include w425 {
    margin: 10px;
    font-size: 0.8em;
  }
}
