:root {
  --primary: #009ffd;
  --error: #ff4757;
  --success: #2ed573;

  --text: #181c32;
  --text-light: #b5b5c3;
  --text-darker: #5f5f5f;

  --bg: #fff;
  --bg-field: #ecf0f4;
  // --bg-panel-card: #ebebebcc;
  --bg-panel-card: rgba(235, 235, 235, 0.3);
  --bg-disabled-btn: #aaa;
}

:root {
  --font-main: Lucida_Bright, sans-serif;
}
