@import "./../../assets/mixins/common";

.cart-main-container {
  padding: 10px;
  .urlNav {
    @include urlNav;

    @include w425 {
      margin: 10px;
      font-size: 0.8em;
    }
  }
  .empty-content {
    font-size: 2rem;
    text-align: center;
    color: grey;
    text-shadow: 5px 5px 2px lightgrey;
    width: 100%;
    height: 100%;
    margin: 7% 0px 0px;
  }
  .title {
    @include pageTitle;
    @include w425 {
      margin: 10px;
      font-size: 1.2em;
    }
  }
  .cart-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .total-amount {
      width: 200px;
      height: 200px;
      background: linear-gradient(to right, #ff4b2b, #ff416c);
      position: fixed;
      color: white;
      font-weight: bold;
      font-size: 1.5em;
      padding: 20px;
      align-self: flex-end;
      margin-right: 20px;
      border-radius: 50%;
      text-align: center;
      @include flexCenter;

      @include w768 {
        // position: relative;
        width: 100px;
        height: 100px;
        font-size: 0.8em;
        padding: 10px;
        margin-right: 10px;
      }

      @include w375 {
        position: relative;
        width: 100px;
        height: 100px;
        font-size: 0.8em;
        padding: 10px;
        margin-right: 10px;
      }

      .tot {
        font-size: 0.7em;
      }
      .amt {
        font-size: 1.5em;
        @include w375 {
          font-size: 1.2em;
        }
      }
    }

    .cart-item {
      width: 75%;
      display: flex;
      height: 300px;
      margin: 20px;
      justify-content: space-between;
      box-shadow: 3px 3px 10px grey;
      border-radius: 10px;

      @include w425 {
        width: 95%;
        height: 200px;
        margin: 10px;
      }

      .img-container {
        width: 30%;
        height: 250px;
        margin: auto 10px;

        @include w425 {
          width: 40%;
          height: 100%;
          margin: 0px;
        }
        img {
          height: 100%;
          width: 100%;
          overflow: hidden;
        }
      }

      .detail-container {
        width: 30%;

        @include w425 {
          width: 58%;
          height: 100%;
        }

        .detail,
        .quantity-container {
          padding: 20px;
          display: flex;
          justify-content: space-between;
          font-size: 1.2rem;
          font-weight: bold;

          @include w425 {
            padding: 12px 5px;
            font-size: 0.8rem;
            justify-content: space-between;
          }

          .num-input {
            width: 70px;
          }

          .rmv-btn {
            @include button;
            background: #f44336;
            color: white;
            margin: 0px auto;
            border-radius: 5px;

            @include w425 {
              width: 100px;
              padding: 5px;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  .nav {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    .btn {
      @include button;
      background: orangered;

      @include w425 {
        width: 100px;
        padding: 10px 0px;
        font-size: 1rem;
      }
    }
  }
}

/* csslint ignore:start */
.e-numeric .e-input-group-icon.e-spin-up:before {
  content: "\e823";
  color: rgba(0, 0, 0, 0.54);
}

.e-numeric .e-input-group-icon.e-spin-down:before {
  content: "\e934";
  color: rgba(0, 0, 0, 0.54);
}
/* csslint ignore:end */
