@import "./../../assets/mixins/common";

.cart-main-container {
  .urlNav {
    @include urlNav;
  }
  .empty-content {
    font-size: 2rem;
    text-align: center;
    color: grey;
    text-shadow: 5px 5px 2px lightgrey;
    // background: -webkit-linear-gradient(green, orange);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
  .title {
    @include pageTitle;
  }
  .cart-container {
    height: 100%;
    width: 100%;
    // margin-top: 50px;
    display: flex;
    flex-direction: column;
    // position: absolute;

    .total-amount {
      width: 300px;
      background: linear-gradient(
        to right,
        #ff4b2b,
        #ff416c
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      position: fixed;
      color: white;
      font-weight: bold;
      font-size: 1.5em;
      padding: 20px;
      align-self: flex-end;
      margin-right: 20px;
    }

    .cart-item {
      width: 75%;
      display: flex;
      height: 300px;
      // background-color: #0d0d9e2d;
      margin: 20px;
      // border-bottom: 1px solid grey;
      justify-content: space-between;
      box-shadow: 3px 3px 10px grey;
      border-radius: 10px;

      .img-container {
        width: 350px;
        height: 250px;
        margin: auto 10px;
        // border: 1px solid black;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .detail-container {
        width: 250px;
        //   border: 1px solid blue;
        // margin-left: 15%;

        .detail,
        .quantity-container {
          // margin: 10px;
          padding: 20px;
          display: flex;
          justify-content: space-between;

          button {
            @include button;
            background: #f44336;
            color: white;
          }
        }
      }

      // label {
      //   font-size: 20px;
      // }
      // span {
      //   font-weight: bold;
      //   padding-left: 20px;
      // }
    }
  }

  .nav {
    margin:20px 40px;
    display: flex;
    justify-content: space-between;
    .btn {
      @include button;
      margin-bottom: 20px;
    }
  }
}

/* csslint ignore:start */
.e-numeric .e-input-group-icon.e-spin-up:before {
  content: "\e823";
  color: rgba(0, 0, 0, 0.54);
}

.e-numeric .e-input-group-icon.e-spin-down:before {
  content: "\e934";
  color: rgba(0, 0, 0, 0.54);
}
/* csslint ignore:end */
