@import "./../assets/mixins/common";

.header {
  height: 120px;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 120px;
  z-index: 2;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  @include w600 {
    height: 80px;
    font-size: 1rem;
    line-height: 80px;
  }

  .sub-tit {
    font-size: 0.6em;
    color: orangered;
  }

  h1::first-letter {
    font-size: 1.7em;
    color: orangered;
  }
}
.main {
  position: relative;
  top: 120px;
  height: 100%;
  

  @include w600 {
    top: 90px;
  }
}